html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family:  "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100%;
}

.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
